/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,300&display=swap');

*{
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
/* img{
    width: 100%;
} */

/* PREIMPOSTATI */
:root{
    --white-color: #fff;
    --dark-color: #252525;
    --sabbia-color: #e4d67b7f;

    --font-size-s:0.9rem;
    --font-size-m:1.25rem;
    --font-size-l:2rem;
    --font-size-xl:2.5rem;

    --font-weight-normal:400;
    --font-weight-medium:500;
    --font-weight-bold:700;

    --border-radius-s:8px;
    --border-radius-m:30px;
    --border-radius-cerchio:50%;
}
/* NAVBAR */
.navbar{
    background-color: var(--white-color);
}
/* qwery */
.nav-img{
    height: 10vh;
    margin-left: 60%;
}
.navbar-collapse{
    display: flex;
    justify-content: center;
}
/* qwery */
.collapse .navbar-nav .nav-item:hover{
    background-color: var(--sabbia-color);
    border-radius: 30px;
    transition: 1.5s ease;
}


/* HEADER */
